.DS_Store
.cache
.ipython
.local
.keras
.bash_history
.git
.python_history
**/*/*.logs
**/*/.idea
**/*/__pycache__
**/*/.ipynb_checkpoints
**/*/.mypy_cache
code/**/data/*
code/**/raw_data/*
code/**/nltk_data/*
code/output
code/.gitconfig
code/.ssh
code/.vscode-server
code/inf399-uib-ripser-plus-plus

# Excel temporary
~$*.xls*

# Thesis files
thesis
outline
