.DS_Store
.cache
.ipython
.local
.keras
.bash_history
.python_history
**/*/*.logs
**/*/.idea
**/*/__pycache__
**/*/.ipynb_checkpoints
**/*/.mypy_cache
code/**/data/*
code/**/raw_data/*
code/**/nltk_data/*
code/output
code/.gitconfig
code/.ssh
code/.vscode-server
code/.pylint.d
code/.env

# Excel temporary
~$*.xls*
