[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"
pep8 = "*"
isort = "*"
mypy = "*"

[packages]
pandas = "*"
jupyter = "*"
numpy = "*"
tensorflow = "*"
pydot = "*"
scipy = "*"
scikit-learn = "*"
matplotlib = "*"
umap-learn = "*"
nltk = "*"
plotly = "*"
cython = "*"
requests = "*"
hdbscan = "*"
black = "==19.10b0"
tensorflow-addons = "*"
num2words = "*"
ipywidgets = "*"
beautifulsoup4 = "*"
wikiextractor = "*"
lxml = "*"
contractions = "*"

[requires]
python_version = "3.7"
