[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"
pep8 = "*"
isort = "*"
mypy = "*"
black = "*"
jupyter = "*"

[packages]
pandas = "*"
numpy = "*"
pydot = "*"
scipy = "*"
scikit-learn = "==0.23.2"
matplotlib = "*"
umap-learn = "*"
nltk = "*"
plotly = "*"
cython = "*"
requests = "*"
hdbscan = "*"
num2words = {git = "https://github.com/JonasTriki/num2words.git", ref = "master"}
ipywidgets = "*"
beautifulsoup4 = "*"
lxml = "*"
contractions = "*"
tqdm = "*"
numba = "*"
pynndescent = "*"
fastdist = "*"
seaborn = "*"
scikit-learn-extra = "*"
gudhi = "*"
h5py = "*"
hickle = "*"
joblib = "*"
xlrd = "*"
tikzplotlib = "*"
s-dbw = "*"
tensorflow = "*"
cdbw = "*"
wikiextractor = {git = "https://github.com/JonasTriki/wikiextractor.git", ref = "fix-compressed-file-write"}
pot = "*"
annoy = "*"
ripser = "*"
fasttext = "*"
jedi = "==0.17.2"
scikit-dimension = "*"
pervect = "*"
scann = {file = "https://files.pythonhosted.org/packages/8d/ad/e6981da67acb1ba3e5515b59b2ce0562498dfd7124298fbfd23f35db361e/scann-1.2.1-cp36-cp36m-manylinux2014_x86_64.whl", sys_platform = "== 'linux'"}
sharedmem = "*"
xgboost = "*"
scikit-optimize = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
