[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pandas = "*"
pylint = "*"
flake8 = "*"
pep8 = "*"

[packages]
jupyter = "*"
numpy = "*"
spacy = "*"
keras = "*"
tensorflow = "*"
en-core-web-sm = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz"}
pydot = "*"
scipy = "*"
scikit-learn = "*"
matplotlib = "*"
umap-learn = "*"
hdbscan = "*"
scispacy = "*"
en-core-sci-lg = {file = "https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.2.4/en_core_sci_lg-0.2.4.tar.gz"}
spacy-langdetect = "*"
nltk = "*"
beautifulsoup4 = "*"
lxml = "*"
kaggle = "*"
h5py = "*"

[requires]
python_version = "3.7"
